<%-include('./partials/head.ejs')-%>
<div class="container">
  <h6 class="right-align">Welcome, <%= user.firstname %></h6>
</div>
<div class="container">
  <h3>Write a article</h3>
  <div class="container">
    <form action="/create" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="input-field">
          <h6>Add an Image</h6>
          <input type="file" id="file" name="file" />
          <div id="file_error" class="file error">Please enter a file</div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="input-field">
          <label for="title_article">Article headline</label>
          <input type="text" id="title_article" name="title" />
          <div id="title_error" class="title error">Please enter a headline</div>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <label for="subhead">subhead</label>
          <input type="text" id="subhead" name="subhead" />
          <div id="subhead_error" class="subhead error">Please enter a subhead</div>

        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <label for="content">content</label>
          <textarea type="text" id="content" name="content"></textarea>
          <div id="content_error" class="content error">Please enter a content</div>
        </div>
      </div>
      <div>
        <input type="hidden" value="<%= user.email %>" name="author" />
        <input type="hidden" value="<%= user.profile_img %>" name="author_pic" />
        <input type="hidden" value="<%= user.id %>" name="author_id" />

      </div>
      <button id="article" disabled>sumbit</button>
    </form>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<%-include('./partials/footer.ejs')-%>
