<%-include('./partials/head_article.ejs')-%>

<div class="container">
  <%if (user && user.id == post.author_id) {%>
    <div id="post-id" style="visibility: hidden;"><%= post._id%></div>
    <br/>
    <a
      href="#"
      id="blog-delete-btn"
      class="btn-small waves-effect waves-dark red right"
      >Delete post</a>
    <a
      href="/posts/<%= post._id%>/edit"
      class="btn-small waves-effect waves-dark green letf"
    >Update post</a>
    <% }%>
</div>
<div id="content">
  <div class="post-container">
    <div class="post">
      <div class="container">
        <div class="post-author">
          <p>post by, <u><%= post.author%></u></p>
        </div>
        <% if(post.author_pic) { %>
          <div class="card-img">
            <img src="/<%= post.author_pic %>"  class="responsive-img" width="100px">
          </div>
        <% } else { %>
          <div class="card-img">
            <img src="/img/default-avatar.png"  class="responsive-img" width="100px">
          </div>
        <% } %>
        <span style="width: 130px" class="post-date truncate"
          ><%= post.date %></span
        ><br />
        <img src="/<%= post.picture %>" width="350" class="responsive-img" />
        <h3 class="post-title"><%= post.title %></h3>
        <h4 class="post-title"><%= post.subhead %></h4>
        <div class="post-content">
          <div class="post-body max-width">
            <p class="flow-text"><%= post.content%></p>
          </div>
          <br/>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include('./partials/footer.ejs')-%>
